<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <span class="navbar-brand">Public Transport Search</span>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
      <div *ngIf="!!startLocation" class="input-group input-group-sm col-3 start-location">
        <div class="input-group-prepend position-relative">
          <div class="input-group-text">
            <span class="show-on-hover">change</span>
            <span class="hide-on-hover">start location</span>
          </div>
        </div>
        <a href="#" class="form-control d-inline-block text-truncate text-info"
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
          <u title="{{ startLocation.name }}">{{ startLocation.name }}</u>
        </a>
      </div>
    </div>
  </nav>