<div class="modal-header px-5 bg-dark text-light border-bottom-0">
    <div class="d-flex flex-column">
        <span class="text-muted">Routes to:</span>
        <span>{{ destinationName }}</span>
    </div>
    <button type="button" class="close text-light" aria-label="Close"
            (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body route-suggestions bg-dark">
    <ng-container *ngIf="routeSuggestions && routeSuggestions.length">
        <app-route-accordion [routeSuggestions]="routeSuggestions"></app-route-accordion>
    </ng-container>        
</div>