<ng-container *ngIf="routeSuggestions && routeSuggestions.length">
    <ngb-accordion  *ngFor="let rSuggestion of routeSuggestions"
                    #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel title="{{ rSuggestion.titleTime + ' -- ' + rSuggestion.titleOverview.join(' > ') }}">
            <ng-template ngbPanelContent>
                <ul *ngFor="let step of rSuggestion.steps" class="list-group">
                    <li class="list-group-item list-group-item-action">{{ step.text }}</li>
                </ul>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</ng-container>
