<nav class="navbar">
    <div class="container">
      <div class="input-group input-group-sm col-3 ml-auto start-location"
            (click)="startLocation && onChangeStartLocation()"
      >
        <div class="input-group-prepend position-relative">
          <div class="input-group-text text-secondary">
            <span *ngIf="!!startLocation" class="show-on-hover">change</span>
            <span class="hide-on-hover">start location</span>
          </div>
        </div>
        <small class="form-control d-inline-block text-truncate text-info"
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
          <span *ngIf="!startLocation" class="text-secondary">-- not set --</span>
          <u *ngIf="!!startLocation" title="{{ startLocation.name }} ({{ startLocation.formatted_address }})">{{ getStartLocationName() }}</u>
        </small>
      </div>
    </div>
  </nav>