<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <span class="navbar-brand">Public Transport Search</span>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
      <div class="input-group input-group-sm col-3 start-location"
            (click)="startLocation && changeStartLocation()"
      >
        <div class="input-group-prepend position-relative">
          <div class="input-group-text bg-info">
            <span *ngIf="!!startLocation" class="show-on-hover">change</span>
            <span class="hide-on-hover">start location</span>
          </div>
        </div>
        <small class="form-control d-inline-block text-truncate text-info bg-dark"
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
          <span *ngIf="!startLocation" class="text-secondary">-- not set --</span>
          <u *ngIf="!!startLocation" title="{{ startLocation.name }} ({{ startLocation.formatted_address }})">{{ startLocation.name }}</u>
        </small>
      </div>
    </div>
  </nav>