<div class="col-6 p-0">
  <input autofocus type="text" class="form-control form-control-lg"
            [formControl]="placeSelectionInput"
            [placeholder]="placeholder"
            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
  <div ngbDropdown autoClose="true">
    <div *ngIf="suggestionList && suggestionList.length"
        ngbDropdownMenu
        style="display: inline-block; margin: 0; padding: 0; width: 100%"
    >
        <button *ngFor="let s of suggestionList; first as isFirst;"
            [focus]="isFirst"
            ngbDropdownItem
            style="text-overflow: ellipsis; overflow: hidden;"
            title="{{ s.description.replace(', Polska', '') }}"
            (click)="onSuggestionClick(s)"
        >{{ s.description.replace(', Polska', '') }}</button>
    </div>
  </div>